body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #303030;
    font-size: 16px;
    line-height: 20px;

    margin: 0;
}

.page-header {
    width: 1100px;
    margin: 0 auto;
    padding: 35px 90px;
    margin-bottom: 15px;
}

.main-nav {
    display: flex;
}

.logo {
    width: 197px;
}

.main-nav .logo {
    margin-right: 60px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 270px;
}

.site-navigation-item a {
    color: #9a9a9a;
    text-decoration: none;
}

.search {
    width: 20px;
    margin-left: auto;
}

.main-content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 90px;
}

.hero {
    margin-bottom: 110px;
}

.hero h1 {
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 55px;
}

.quote {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 110px;
    padding: 45px 0;
}

.quote blockquote {
    margin: 0;
}

.quote p {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.quote footer {
    font-weight: 700;
    text-align: center;
}

.fact-article {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    margin: 0 auto;
}

.fact-article-1 {
    flex-direction: row-reverse;
    margin-bottom: 60px;
}

.fact-article-2 {
    margin-bottom: 110px;
}

.fact-article-content {
    width: 560px;
}

.fact-article h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;
    color: #a4c58c;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    text-underline-position: under;
}

.fact-article h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.fact-article p {
    line-height: 30px;
    color: #000000;
}

.fact-article-img {
    width: 420px;
}

.symptoms {
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
}

.simptoms-column {
    width: 500px;
}

.symptoms h2 {
    margin-top: 65px;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.symptoms-item {
    font-size: 14px;
    text-transform: uppercase;
}

.symptoms-img {
    width: 500px;
}

.cta-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #7eb252;
}

.gallery {
    width: 930px;
    margin: 0 auto;
}

.gallery-wrapper {
    display: flex;
}

.gallery h2 {
    margin-top: 0;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.active-img {
    width: 740px;
    margin-right: 20px;
}

.gallery-preview {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 170px;
}

.preview-item {
    margin-bottom: 20px;
}

.preview-item:last-child {
    margin-bottom: 0;
}

.page-footer {
    background-color: #f6f9f3;
    padding: 90px 0;
    margin-top: 110px;
}

.footer-container {
    width: 1100px;
    margin: 0 auto;
}

.footer-link {
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #9a9a9a;
}

.footer-navigation-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.footer-menu-item a {
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}
